*.a
arch/arm/boot/compressed/piggy.gz
arch/arm/boot/compressed/vmlinux.lds
arch/arm/boot/Image
arch/arm/kernel/asm-offsets.s
arch/arm/kernel/vmlinux.lds
*.cmd
.config*
*.cpio
crypto/aes_generic.ko
crypto/ansi_cprng.ko
crypto/ecb.ko
crypto/pcbc.ko
cscope.*
drivers/char/consolemap_deftbl.c
drivers/char/defkeymap.c
drivers/video/logo/clut_vga16.c
drivers/video/logo/logo_blackfin_clut224.c
drivers/video/logo/logo_blackfin_vga16.c
drivers/video/logo/logo_dec_clut224.c
drivers/video/logo/logo_linux_clut224.c
drivers/video/logo/logo_linux_mono.c
drivers/video/logo/logo_linux_vga16.c
drivers/video/logo/logo_m32r_clut224.c
drivers/video/logo/logo_mac_clut224.c
drivers/video/logo/logo_parisc_clut224.c
drivers/video/logo/logo_sgi_clut224.c
drivers/video/logo/logo_spe_clut224.c
drivers/video/logo/logo_sun_clut224.c
drivers/video/logo/logo_superh_clut224.c
drivers/video/logo/logo_superh_mono.c
drivers/video/logo/logo_superh_vga16.c
firmware/brf6300/brf61_4.2.38.bts
firmware/brf6300/brf61_4.2.38.bts.gen.S
include/asm
include/asm-arm/
include/config/
include/linux/autoconf.h
include/linux/bounds.h
include/linux/compile.h
include/linux/utsrelease.h
include/linux/version.h
kernel/arch/
kernel/bounds.s
kernel/config_data.gz
kernel/config_data.h
kernel/include/
kernel/timeconst.h
*.ko
lib/crc32table.h
lib/gen_crc32table
.missing-syscalls.d
*.mod.c
Module.symvers
*.o
*.order
*.orig
out
*.rej
scripts/basic/docproc
scripts/basic/fixdep
scripts/basic/hash
scripts/bin2c
scripts/conmakehash
scripts/genksyms/genksyms
scripts/genksyms/keywords.c
scripts/genksyms/lex.c
scripts/genksyms/parse.c
scripts/genksyms/parse.h
scripts/kallsyms
scripts/kconfig/conf
scripts/kconfig/lex.zconf.c
scripts/kconfig/mconf
scripts/kconfig/zconf.hash.c
scripts/kconfig/zconf.tab.c
scripts/mod/elfconfig.h
scripts/mod/mk_elfconfig
scripts/mod/modpost
scripts/pnmtologo
*.so
System.map
tags
.tmp*
uImage
usr/gen_init_cpio
usr/.initramfs_data.cpio.d
Verbose.out
.version
vmlinux
zImage
